@import "animate-custom";
@import "_variables.scss";
@import "_social_icons.scss";
@import "bootstrap";

body {
  background: $white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 16px;
}
header {
  text-align: center;
  min-height: 200px;
  max-height: 300px;
}
footer {
  text-align: center;
}
.top-container {
  background-image: url("/img/background_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -100px;
}
nav {
  margin-top: 30px;
}


.icons {
  margin-top: 20px;
  a {
      margin-top: .5em;
  }
}

.ss-icon {
  font-size: 2em;
}
