// styles

* {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.root {
  position: relative;
}

.jk-home {
  width: 25%;
  height: 25%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.jk-list {
  li {
    line-height: 1.5;
  }
}